@charset "utf-8";

/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    background-color: #3F2860;
    color: #333333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
}

h1 {
    text-align: left;
}

nav,
h2,
h3,
h4 {
    color: #333333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
    margin: 0;
}

h2,
h3 {
    font-size: 150%;
    color: #4A148C;
}

h4 {
    font-size: 120%;
}

#wrapper {
    padding: 2em;
    background-color: #F5F5F5;
}

header {
    background-color: #0E180D;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 90%
}

header a {
    text-decoration: none;
}

header a:link {
    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #FFFFFF;
}

header a:active {
    color: #FFFFFF;
}

.content {
    background-image: url(lily1.jpg);
    background-size: 100% 100%;
    padding-top: .2em;
    padding-left: 10%;
    height: 20vh;
}

nav {
    text-align: right;
    background-color: #FFFFFF;
    padding-top: .5em;
    padding-bottom: 1em;
    padding-right: 1em;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
}

nav ul {
    margin: 0;
    font-size: 1.2em;
    list-style-type: none;
    padding-right: 2em;
}

nav li {
    display: inline;
    padding-left: 2em;
    width: 30%
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #3F2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #A26100;
}

li,
dd {
    font-size: 90%;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-top: 1em;
}

#foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-around;
}

#foot a {
    margin: 1em;
}

#checklist li {
    color: #000000;
    font-size: 120%;
}

@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        font-weight: bold;
        justify-content: flex-end;
    }
    nav li {
        width: 7em;
    }
}

@media (min-width: 1024px) {
    .content {
        background-image: url(lilybanner.jpg);
        height: 200px;
        padding-top: .5em
    }
    #wrapper {
        margin: auto;
        width: 80%;
    }
    footer {
        padding-top: 2em;
    }
}
