.site-header {
	padding-top:2em;
	padding-bottom:1em;
}
/*---------------*/
.site-branding {
	margin-bottom:1em;
	text-align:center;
}
.site-title {
	font-family:'Quattrocento Sans',sans-serif;
	font-size:60px;
	font-weight:300;
	letter-spacing:2px;
	line-height:1;
	margin-top:25px;
	margin-bottom:20px;
	text-transform:uppercase;
}
.site-title a {
		text-decoration:none;
}
.site-description {
	font-size:14px;
	font-style:italic;
	font-weight:300;
	margin-top:-15px;
	margin-bottom:35px;
	padding-top: 0;
}

/*------------*/
.menu {
	display:table;
	margin:0 auto;
}
.main-navigation {
	background-color:#fff;
	font-size:14px;
	font-weight:700;
	letter-spacing:1px;
	padding:15px 0;
	border-top:1px solid;
	border-bottom:1px solid;
	text-transform:uppercase;
}
.main-navigation a {
		text-decoration:none;
}
.main-navigation li {
	display:inline;
	float:left;
	margin:0 1em;
	position:relative;
}
/* Small menu */
.menu-toggle {
	display: none;
}
.container {
	margin:0 20px;
}
.site-header {
	padding-top:2em;
	padding-bottom:1em;
}
.site-content {
	margin-left: 15px;
	margin-right:-25px;
	overflow:hidden;
	min-height:280px;
}
/* grid */
.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
}
/* footer */
.site-footer {
	padding:2em 0;
	text-align:center;
	color:#999;
}
.site-footer a {
	text-decoration:none;
	color: #999;
}